
body {
  font-family:"webfontregular";
  margin: 0;
  padding: 0;
  font-size:18px;
}

/* Using the font used in The Prisoner (1968) */
@font-face {
    font-family: 'webfontregular';
          src: url('Fonts/village-webfont.eot');
    src: url('Fonts/village-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/village-webfont.woff') format('woff'),
         url('Fonts/village-webfont.ttf') format('truetype'),
         url('Fonts/village-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



p{
  margin: 5px;
}

/* Container for the body of the page */
.container {
  margin: 0 auto; 
  min-height:1951px;
   position:relative;
}


/* the name of the dude logged in is in the top right */
#logName{
  right:0;
  font-size:16px;
  padding-top:10px;
  padding-right:30px;
  position:absolute;
}


/* Fun nav bar stuff */
#navBar, #navBar ul {
     list-style: none;
}

#navBar {
     float: left;
     width: 100%;
     padding:10px 0;
     background: #E0E0E0;
     height: 80%;
-moz-box-shadow: inset 0 -5px 5px #888;
-webkit-box-shadow: inset 0 -5px 5px #888;
box-shadow: inset 0 -5px 5px #888;
/* 
-moz-box-shadow: -5px -5px 50px #FFF;
-webkit-box-shadow: -5px -5px 50px #FFF;
box-shadow: -5px -5px 50px #FFF;*/
}

.carrot{
font-size:14px;
text-decoration: none;
}


/* For the basic quiz questions */
#title {
background-color: #0FDEF5;
text-align:center;
color:black;
font-size:21px;
}

/* the slide button for the additonal options */
#adOptionsBut{
   cursor:pointer;
   text-decoration:underline;

}

/* the addtional option background */
#adOptions{
background-color:#EE9A49;
-moz-box-shadow: 0 5px 15px #E47833 ;
box-shadow: 0 5px 15px #E47833  ;
-webkit-box-shadow: 0 5px 15px #E47833  ;
}

/* messing the the widths of the options */
#adOptions select{
width:75px;
}

#title input[type="text"] {
width: 250px;
}


#adOptions input[type="checkbox"] {
display:inline-block;
position:relative;
}

#adOptions label {
display:inline-block;
position:relative;
}

/* Border around content */
#invisiBorder{
margin:2px;
width: 1080px;
margin-right: auto;
margin-bottom: auto;
margin-left: auto;
}

/* the nav bar with the quiz questions */
#sideBar{
width: 250px; 
height:auto;
border:2px #000 solid;
  border-radius: 15px;
  -moz-border-radius: 15px;
  padding: 10px 0;
  background-color: #F0FFFF;
  position:relative;
  float:left;
margin-top:90px;
}


/* for the bar to get stuck on top */
#sideBar.sticky {
     position: fixed;
   top:-75px;
   z-index:1;
  }
  
#sideBar img{
border:2px #000 solid;
border-radius: 15px;
-moz-border-radius: 15px;
background-color: #FFF;
}

/*Temporary until we use javascript for DOM edit */
#sideBar:active ~ #mainBar > #quiz >#allCustQ{
    opacity:0.5;
}


  /* Stuff for side bar */
 #QuizNumber {
  text-align: center
}


#QuestionSelector { list-style-type: none;
      margin: 0;
      padding: 0;
      text-align:center;
      
  }
#QuestionSelector li { display: inline-block; }

#QuestionSelector li label{ 
font-size:16px;
 }
 
 #QuestionSelector li img{ 

 }

#QuestionSelector li { text-decoration: none; }

.create{
   cursor:pointer;
  
}

.create:active{
   cursor:pointer;
  
}

.createNope{
   cursor:pointer;
  
}

.createNope:active{
   cursor:pointer;
  
}

/* The main bar contains the quiz */
#mainBar{
width:810px;
height:auto;
float:right;
display:relative;
padding-bottom:40px;
/* To shade out area
    background-color: white;
    filter:alpha(opacity=50); /* IE */
 /*   opacity: 0.5; /* Safari, Opera */
   /* -moz-opacity:0.50; /* FireFox */

}



.content {

padding-bottom:40px;
}

.content h2{
  text-align:center;

}

/* Change width for quiz. Maybe make it proportional later*/
#quiz input[type="text"] {
width: 70%;
}

/*Button for minimizing table. Need to change font since looks bad in Village*/
.buttonDec{
    border:solid 1px;
    width: 140px;
    height: 23px;
    cursor:pointer;
  text-align:center;
  font-family: sans-serif;
  display:inline-block;
  padding: 2px;
  border-radius:10px;
}



/* Quiz form, create border for it#008080*/
#quiz{
  border:3px #666 none;
  border-radius: 15px;
  -moz-border-radius: 15px;


} 

.custQ{
  padding: 10px 0;
  margin-left:20px;
  padding-left:5px;
  border-radius: 15px;
  margin-bottom:10px;
  margin-right:10px;
  -moz-border-radius: 15px;
  border:1px solid transparent;
  background-color:white;
}

.section{
  padding: 10px 0;
  margin-left:20px;
  padding-left:5px;
  border-radius: 15px;
  margin-bottom:10px;
  margin-right:10px;
  -moz-border-radius: 15px;
  border:1px solid transparent;
  background-color:white;
}

#newQ{
padding: 10px 0;
padding-left:25px;
}

#wrapBut{
padding: 10px 0;
padding-left:25px;
}

/**** Background colors for quiz *
#q1{
background-color:#E8E8E8;

}


#q2{
background-color:#F4F4F4;
}
*/
/*Number of each problem */
#quiz h3 {
  display: inline-block;
  font-size: 24px;
}

/*Title next to number for each problem */
.qTitle{
font-size:18px;

}

/* change various things in the quiz */
#quiz h4 {
  position:relative;
  text-align:center;

}

#quiz input {
margin-left: 8px;
}

#quiz select {
margin-left: 8px;
}

#quiz textarea {
margin-left: 8px;
width:70%;
}

#quiz #pool{
  border:1px #666 solid;
  border-radius: 15px;
  padding:20px 0;
  margin-right:10px;
  text-align:center;
  opacity: 0.75;
}

/* refers to the question worth stuff */
#quiz .small {
  display: inline-block;
  position:relative;
  float:right;
  padding: 0 30px;

}

#quiz .small label{
  display: inline-block;

}

#quiz .small input  {
width: 50px;
}

/* the delete button */
.delete{
float:right;
margin-right:40px;
cursor:pointer;
}

.deleteSec{
float:right;
margin-right:40px;
cursor:pointer;
}

.deleteAns{
float:right;
margin-right:150px;
cursor:pointer;
}

#preview{
 background: url(../img/pn.png) no-repeat 0 0;
 border: 0;
 cursor: pointer;
 height: 26px;
 line-height: 0;
 text-indent: -9999px;
 width: 90px;
}

#save{
 background: url(../img/sn.png) no-repeat 0 0;
 border: 0;
 cursor: pointer;
 height: 26px;
 line-height: 0;
 text-indent: -9999px;
 width: 91px;
}
#submit{
 background: url(../img/sun.png) no-repeat 0 0;
 border: 0;
 cursor: pointer;
 height: 26px;
 line-height: 0;
 text-indent: -9999px;
 width: 92px;
}

#preview:active{
 background: url(../img/pn1.png) no-repeat 0 0;

}

#save:active{
 background: url(../img/sn1.png) no-repeat 0 0;

}
#submit:active{
 background: url(../img/sun1.png) no-repeat 0 0;

}


/* wrap div needed to center submit button */
#wrapBut{
  text-align:center;
}

.pg-normal {
     color: black;
     font-weight: normal;
     text-decoration: none;    
     cursor: pointer;    
}
.pg-selected {
     color: black;
      font-weight: bold;        
     text-decoration: underline;
     cursor: pointer;
}


/* ~~ The footer ~~ */
footer {
  border-top:1px #000 solid;
  position:absolute;
  bottom:0;
  width:100%;
  height:39px;   /* Height of the footer */
  background: #E0E0E0;
}


